<!DOCTYPE html> 
 <html lang="en"> 
 <head> 
 <meta charset="UTF-8"> 
 <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/> 
 <title>多步表单</title> 
 
 
 <link rel="stylesheet" href="lib/bootstrap.min.css"> 
 <link rel="stylesheet" href="myStyle.css"> 
 
 
 <script src="lib/angular.js"></script> 
 <script src="lib/angular-ui-router.js"></script> 
 <script src="lib/angular-animate.js"></script> 
 <script src="myApp.js"></script> 
 </head> 
 <body ng-app="myModule"> 
 <div class="container" ng-controller="myFormController"> 
 <div ui-view></div> 
 </div> 
 </body> 
 </html> 
