<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">


<!-- Mirrored from www.zi-han.net/theme/hplus/table_jqgrid.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:02 GMT -->
<head>

    <meta charset="utf-8">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <!-- jqgrid-->
    <link href="/css/plugins/jqgrid/ui.jqgridffe4.css?0820" rel="stylesheet">

    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="/javascripts/backstage/zy_ControllerFunc.js"></script>



    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/js/plugins/validate/messages_zh.min.js"></script>
    <script src="/js/demo/form-validate-demo.min.js"></script>






    <!--百度编辑器-->
    <!-- 配置文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
    <!--uploadify-->
    <link href="/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
    <script src="/plugins/uploadify/jquery.uploadify.min.js"></script>

    <script src="/javascripts/zy_public.js"></script>



    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/backstage/zy_Controller.js"></script>
    <script src="/javascripts/backstage/zy_Directives.js"></script>


    <style>
        /* Additional style to fix warning dialog position */

        #alertmod_table_list_2 {
            top: 900px !important;
        }
    </style>

</head>

<body class="gray-bg" ng-app="infoMangerModule" >

<div class="row" ng-controller="infoController">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                    <form method="get" class="form-horizontal" name="myform" ng-submit="submitForm(myform.$valid)">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">新闻标题</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="formData.title"   type="text" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">简介</label>

                        <div class="col-sm-8">

                            <input type="text" class="form-control" ng-model="formData.desc"   type="text" required="" aria-required="true">
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">封面图</label>

                            <div class="col-sm-8">

                                <input type="file" name="uploadify" id="uploadContentImg" />
                                <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg">
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">状态</label>

                        <div class="col-sm-8">
                            <select ng-model="formData.state" ng-options="item.value as item.name for item in states">
                                <option value="-1">-请选择-</option>

                            </select>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">分类</label>

                            <div class="col-sm-8">
                                <select>
                                    <option value="-1">-请选择-</option>

                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">内容</label>
                        <div class="col-sm-8">

                            <textarea class="" name="content" ng-model="formData.content" id="container" ng-minlength="10" placeholder="请输入文章详情" ueditor>{{formData.content}}</textarea>

                        </div>
                    </div>




                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">

                            <button class="btn btn-primary" type="submit"  ng-disabled="myform.$invalid">保存内容</button>
                         <a href="/admin/cms/infolist" class="btn btn-primary">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>







</body>


</html>
