<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">


<!-- Mirrored from www.zi-han.net/theme/hplus/table_jqgrid.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:02 GMT -->
<head>

    <meta charset="utf-8">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <!-- jqgrid-->
    <link href="/css/plugins/jqgrid/ui.jqgridffe4.css?0820" rel="stylesheet">

    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="/javascripts/backstage/zy_ControllerFunc.js"></script>

    <style>
        /* Additional style to fix warning dialog position */

        #alertmod_table_list_2 {
            top: 900px !important;
        }
    </style>

</head>

<body class="gray-bg" ng-app="userModule" >

<div class="row" ng-controller="systemUserAdd">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                    <form method="get" class="form-horizontal" name="myform" ng-submit="submitForm(myform.$valid)">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="formData.userName"   type="text" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户昵称</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="formData.nickName"   type="text" required="" aria-required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别</label>

                        <div class="col-sm-8">
                            <select  ng-model="formData.userSex" ng-options="item.value as item.name for item in sexs"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">电话</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="formData.userTel" required=""> <span class="help-block m-b-none">帮助文本，可能会超过一行，以块级元素显示</span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="formData.userEmail" required=""> <span class="help-block m-b-none">帮助文本，可能会超过一行，以块级元素显示</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">

                            <button class="btn btn-primary" type="submit"  ng-disabled="myform.$invalid">保存内容</button>
                         <a href="/admin/manager/managerUser" class="btn btn-primary">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/js/plugins/validate/messages_zh.min.js"></script>
<script src="/js/demo/form-validate-demo.min.js"></script>

<script src="/javascripts/angular.js"></script>
<script src="/javascripts/backstage/zy_Controller.js"></script>


</body>


</html>
