<!DOCTYPE html>
<html>
<!-- Mirrored from www.zi-han.net/theme/hplus/table_jqgrid.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:02 GMT -->
<head>

    <meta charset="utf-8">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <!-- jqgrid-->
    <link href="/css/plugins/jqgrid/ui.jqgridffe4.css?0820" rel="stylesheet">

    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="/javascripts/backstage/zy_ControllerFunc.js"></script>

    <style>
        /* Additional style to fix warning dialog position */

        #alertmod_table_list_2 {
            top: 900px !important;
        }
    </style>

</head>

<body class="gray-bg" ng-app="infoMudule">

<div class="row" ng-controller="infolistController">

    <div class="col-sm-12">
        <div class="col-md-2" style="margin: 5px 0;">

              <button type="button" class="btn btn-danger btn-sm" ng-click="addInfo()">添加资讯</button>

        </div>
    </div>

    <div class="col-sm-12">


        <div class="ibox float-e-margins">
            <div class="ibox-title">

                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="table_basic.html#">选项1</a>
                        </li>
                        <li><a href="table_basic.html#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <select class="form-control" ng-model="formData.type" ng-options="item.value as item.key for item in selectType">

                        </select>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span
                                    class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th><input type="checkbox"/>全选</th>
                            <th>用户名</th>
                            <th>昵称</th>
                            <th>性别</th>
                            <th>创建日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="group in data">
                            <td>
                                <input type="checkbox" checked class="i-checks" name="input[]">
                            </td>
                            <td>{{group.userName}}</td>
                            <td><span class="pie">{{group.nickName}}</span>
                            </td>
                            <td><span class="pie">{{group.userSex==1?"男":"女"}}</span>
                            </td>
                            <td>{{group.createDate|date:"yyyy-MM-dd hh:mm:ss"}} </td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/admin/manager/SystemUser/{{group._id}}">编辑</a>
                                <a class="btn btn-primary btn-xs" ng-click="deleteOne(group._id)">删除</a>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <% include public/zy_Page %>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/js/plugins/peity/jquery.peity.min.js"></script>
<!--<script src="/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820"></script>-->
<!--<script src="/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820"></script>-->
<!--<script src="/js/content.min.js?v=1.0.0"></script>-->

<script src="/javascripts/angular.js"></script>
<script src="/javascripts/backstage/zy_Controller.js"></script>


</body>


</html>
