 <!DOCTYPE html>
 <html lang="en">
 <head>
 <meta charset="UTF-8">
 <title>多步表单</title>
 <link rel="stylesheet" href="/css/bootstrap.min.css">
 <link rel="stylesheet" href="/plugins/myStyle.css">
<script src="/plugins/angular/angular.min.js"></script>
 <script src="/plugins/angular/angular-ui-router.js"></script>
 <script src="/plugins/angular/angular-animate.min.js"></script>
 <script src="/plugins/myApp.js"></script>
 </head>
 <body ng-app="myModule">
 <div class="container" ng-controller="myFormController">
     
 <div ui-view>
     
 </div>
 </div>

 
 </body>
 </html>