<div class="form-group">
    <label for="interest">选择你喜欢的语言：</label>
    <input type="checkbox" value=".net" class="form-control" ng-model="formData.interestA">.NET
    <input type="checkbox" value="php" class="form-control" ng-model="formData.interestB">PHP
    <input type="checkbox" value="nodejs" class="form-control" ng-model="formData.interestC">NodeJS
    <hr />
    <button type="submit" class="btn btn-primary">注册</button>
</div>