<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>权限管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a>权限管理</a>
            </li>
            <li class="active">
                <strong>添加权限</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="row white-bg" style="margin-top:5px;"  ng-controller="permsController">

    {{formData.name+formData.age}}
              <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li ng-class="{true: 'active', false: ''}[isActive]"><a data-toggle="tab" ui-sref="perms.tab1" ng-click="isActive=true"> 111111</a></li>
                            <li ng-class="{true: '', false: 'active'}[isActive]"><a data-toggle="tab" ui-sref="perms.tab2" ng-click="isActive=false"> 2222</a></li>




                        </ul>
                        <div class="tab-content">
                          <div ui-view>

                         </div>

                     
                        </div>


                    </div>

  



 



</div>