                
<div ng-controller="testController">

<form enctype="multipart/form-data" method="post" ng-submit="toupload()">
  <input type="file">
  <input type="submit" value="上传"/>
</form>


    <a href="#/test2">test2</a>
	
	   <div class="row">
      <div class="col-md-12">
 
        <button class="btn btn-danger" ng-click="launch('error')">Error Dialog</button>
    
        
        
        <button class="btn btn-warning" ng-click="launch('create')">Custom Dialog</button>


        <button class="btn btn-warning" ng-click="launch('create2')">Custom Dialog2</button>
      </div>
    </div>
     
name:{{name}}

</div>                     
 