                
<div ng-controller="testController">
    <a href="#/test2">test2</a>
	
	   <div class="row">
      <div class="col-md-12">
 
        <button class="btn btn-danger" ng-click="launch('error')">Error Dialog</button>
    
        <button class="btn btn-primary" ng-click="launch('wait')">Wait Dialog</button>
    
        <button class="btn btn-default" ng-click="launch('notify')">Notify Dialog</button>
    
        <button class="btn btn-success" ng-click="launch('confirm')">Confirm Dialog</button>
        
        <button class="btn btn-warning" ng-click="launch('create')">Custom Dialog</button>


        <button class="btn btn-warning" ng-click="launch('create2')">Custom Dialog2</button>
      </div>
    </div>
     
name:{{name}}

</div>                     
 