<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>CMS管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a>分类管理</a>
            </li>
            <li class="active">
                <strong>添加分类</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>







<div class="row white-bg" style="margin-top:5px;" ng-controller="cmsController">
    <div class="ibox-content">
        <form method="get" class="form-horizontal" id="myform" name="myform" ng-submit="processForm(myform.$valid)">
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">大分类：</label>

                <div class="col-sm-10">

                    <select ng-model="cateFormData._id" name="parentid" class="form-control" ng-options="p._id as p.name for p in pmodel">
                                            <option value="">--请选择--</option>
                                        </select>
 
                </div>
                <input type="hidden" ng-model="cateFormData.parentid"/>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">名称：</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="cateFormData.name" required>
                </div>
            </div>
            <div class="hr-line-dashed"></div>


            
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <a class="btn btn-white" type="button" href="#/article/newscates">返回</a>
                    <button type="submit" class="btn btn-primary" ng-click="submitartcate()">确定</button>
                </div>
            </div>
            <!--<input type="hidden" ng-model="cateFormData.id">-->
        </form>

    </div>


</div>