<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/angular/angular.min.js"></script>
</head>
<body ng-app="loginModule" ng-controller="loginController">
    <form id="loginform" name="loginform" ng-submit="processform(loginform.$valid)">
  账号：
    <input type="text"  ng-model="loginData.name"/>
密码：
<input type="text" ng-model="loginData.password" />

<input type="submit" id="btnok" ng-disabled="loginform.$invalid" value="登录"/>
    </form>
  
</body>
 
<script>
 
    angular.module("loginModule",[])
    .controller('loginController',['$http','$scope',function($http,$scope){
        $scope.processform=function(isvalid)
        {
            if(isvalid){
                $http({
                  method  : 'POST',
                            url     : "/backend/login/dologin",
                            data    : $.param($scope.loginData),  // pass in data as strings
                            headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // s
                }).success(function(data){
                        alert(data);
                });
            }
        }
}]);
</script>
</html>